mixin activate-form

    .container
        .row
            br
            br
            .z-depth-3.brown.lighten-5.col.s12.login-forma
                form(action='/aktivacija' method="POST")
                    h4.login-h4.brown-text.center-align.col.s10.offset-s1 Aktivacija korisničkog računa
                        hr
                        br    
                        .input-field.col.s10.offset-s1
                            input#token(type='text' name="token")
                            label(for='token') Molimo unesite aktivacijski kod
                        
                        .col.s10.offset-s1
                            br
                            .row
                            
                                button#btn-reg.btn.btn-large.waves-effect.waves-light.col.m5.s12.l4.brown.right(type='submit' name='login') Pošalji


                              
                        