mixin register-form

    .container
        .row
            br
            br
            .z-depth-3.brown.lighten-5.col.s12.login-forma
                form(action="/register" method="POST")
                    
                    h4.login-h4.brown-text.center-align.col.s10.offset-s1 Molimo unesite podatke za registraciju
                        hr
                           
               
                        
                        .input-field.col.s10.offset-s1
                            input#ime.validate(type='text' name="name")
                            label(for='name') Korisničko ime                          
                        .input-field.col.s10.offset-s1
                            input#email.validate(type='email' name="email")
                            label(for='email') Email
                        .input-field.col.s10.offset-s1
                            input#password.validate(type='password' name="password")
                            label(for='password') Šifra
                        .input-field.col.s10.offset-s1
                            input#password-potvrda.validate(type='password' name="password-potvrda")
                            label(for='password-potvrda') Potvrdi šifru                            
                        .col.s10.offset-s1
                            br
                            .row
                                
                                a#btn-reg.btn.btn-large.waves-effect.waves-light.col.s12.m5.l4.blue.darken-4.right(href='/auth/facebook') 
                                    | Facebook prijava
                                button#btn-reg.btn.btn-large.waves-effect.waves-light.col.m5.s12.l4.brown.right(type='submit' name='register') Registracija

      
