$black: #303030;
$purple: #262161;
$yellow: #FFC40E;
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$grey: lighten(grey, 40%);
$brown: #795548;
$brownLighten5: #efebe9;
$brownLighten4: #d7ccc8;
$brownLighten3: #bcaaa4;
$brownLighten2: #a1887f;
$brownLighten1: #8d6e63;
$brownDarken3: #4e342e;
$spinner-default-color: #795548;